.no-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #302c42;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #302c42;
  border-radius: 10px;
  border: 10px solid var(#302c42);
}
